<div class="ui menu attached">
  <%= link_to root_path, class: 'header item' do %>
    <%= image_tag "logo_small.jpg", style: 'padding: 5px' %>
    UofTCodes
  <% end %>
  <%= link_to 'Events', events_path, class: 'header item' %>

  <div class="right menu">
    <% if current_user.nil? %>
      <%= link_to 'Sign In', new_user_session_path, class: 'item' %>
    <% else %>
      <div class="ui dropdown pointing item">
        Hi, <%= current_user.name %>
        <i class="dropdown icon"></i>
        <div class="menu inverted">
          <%= link_to edit_user_registration_path, class: 'item' do %>
            <i class="cog icon"></i>
            Settings
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'item', 'data-color': 'red'  do %>
            <i class="sign-out icon"></i>
            Logout
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
