<!DOCTYPE html>
<html>
  <head>
    <title>UofTCodes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Arvo|Poppins:700,900' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js' %>
    <%= javascript_include_tag 'https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js' %>
    <%= yield :page_scripts %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div style="padding: 0 8px 0 8px">
      <% flash.each do |type, msg| %>
        <% unless msg.blank? %>
          <% if type == "notice" %>
            <div class="ui info message">
          <% elsif type == "alert" %>
            <div class="ui negative message">
          <% else %>
            <div class="ui info message">
          <% end %>
            <i class="close icon" onclick="closeMessage(this);"></i>
            <div class="header">
                <%= msg %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
